*.aprx
**/.ipynb_checkpoints/*
*.tif
*QAQC_gdb*
*.gdb*
*.shp
*.cpg
*.sbx
*.sbn
*.shx
*.prj
*.dbf
*.xml
*.html
*.ovr
*.tfw
*.lock
data/shp_trans_aadt_traffic_segments/metadata/preview.jpg
*.xlsx
arcpy/qaqc/Scratch.ipynb
data/PointSourceAirEmissionsInventory/Read_me.docx
database/db_credentials.txt
arcpy/qaqc/Wrangle_Emissions_full.ipynb
data/zoning.geojson
*.adf
*.nit
*.dat
*.dir

